.container-nav{
    background-color: #425610;
    padding: 30px 100px;
    color: aqua;
    display: flex;
    justify-content: space-between;
}
.container-nav nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}
.container-nav nav ul  li{
    margin-left: 20px;
    font-size: 19px;
}
.container-nav nav ul  li a.active{
     border-bottom: 1px solid #fff;
}
.container-nav nav ul li:last-child{
    margin-right: 0;
}
